*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: black;
}


.hero{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    
    top: 0;
    
}
.hero ul{
    display: flex;
    list-style: none;
    margin: 2vw 0vw;    
}
.hero ul li{
    font-family: 'Kalam', cursive;
    font-size: 1.3vw;
    font-weight: 500;
}
.hero ul li a{
    text-decoration: none;
    color: whitesmoke;
    padding: 0.7vw 2vw;
    transition: all .5s ease;
}
.hero ul li a:hover{
    background-color: white;
    color: black;
    box-shadow: 0 0 1vw white;
}
#Home{
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: centre;
    align-items: center;
    color: white;
    margin-top: 13vw;
    margin-left: 20vw;
    font-size: 2vw;

    
}
/*home page image*/
#Home ::before{
    content: "";
    position: fixed;
    top: 0;
    right: 0;
    background: url('image.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    height: 39vw;
    width: 99vw;
    border-radius: 100%;
    margin-top: 7vw;
}
.main{
    display: inline;
    flex-direction: column;
    
    
}
.btn{
    color: white;
    margin-top: 2vw;
    background-color: transparent;
    border: 0.1vw solid white;
    padding: 0.6vw 0.6vw;
    font-family: 'Kalam', cursive;
    font-size: 1.1vw;
    outline: none;
    transition: .6s at ease;
    
}
.btn2{
    color: white;
    background-color: transparent;
    border: 0.1vw solid white;
    padding: 0.6vw 0.6vw;
    font-family: 'Kalam', cursive;
    font-size: 1.1vw;
    outline: none;
    transition: .6s at ease;
    margin-left: 1vw;
}
.btn :hover{
    cursor: pointer;
    background-color: white;
    color: black;
    box-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white;


}
.btn2 a{
    text-decoration: none;
    color: white;
}
.about{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 12vh;
    font-family: 'Lobster', cursive;
}
img{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
}
.picture{
    width: 250px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10vh;
}
.intro{
    color: white;
    text-align: center;
    font-size: 1rem;
    margin-top: auto;
    font-family: 'Lobster', cursive;
}
.education{
    color: white;
    text-align: center;
    margin-top: 15vh;
    font-family: 'Lobster', cursive;
}
.ed{
    font-size: 1.5rem;
}
.bach{
    margin-top: 15vh;
}
.high{
    margin-top: 5vh;
}
.skills{
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 15vh;
    font-size: 1.5rem;
}
.list{
    margin-top: 5vh;
    font-size: 1rem;
}
.ul {
    display: inline-block;
    list-style-type: circle;
    margin: 0;
    padding: 0;
    color: white;
}
.header{
    color: white;
    text-align: center;
    margin-top: 10vh;
    font-size: 1.5rem;
    font-family: 'Lobster', cursive;
}
.para{
    color: white;
    font-size: 1.2rem;
    margin-top: 3vh;
}
.details{
    margin-top: 7vh;
    color: white;
    text-align: center;
    font-family: 'Lobster', cursive;
}
.button{
    color: white;
    background-color: black;
    padding: 10px;
    font-family: 'Lobster', cursive;
    border-radius: 20%;
    transition: 0.6s at ease;
}
::placeholder{
    color: white;
}
input{
    width: 20%;
    margin: 8px 0;
    padding: 12px 20px;
    box-sizing: border-box;
    color: white;
    font-size: 14px;
}
textarea{
    color: white;
    font-size: 14px;
    padding: 12px 20px;
    margin: 8px 0;
    font-family: 'Lobster', cursive;

}
.button :hover{
    cursor: pointer;
    background: white;
    box-shadow: 0 0 5px white, 0 0 20px white, 0 0 60px white, 0 0 150px white;
    border: 1px solid white;
}